###############################
###### REQUIRED ENV VARS ######
###############################

# Randomly generated secret used to encrypt session data. Read more: https://authjs.dev/getting-started/installation?framework=Next.js
# You can find more information about this secret here: https://cli.authjs.dev
AUTH_SECRET=

# Needed for MongoDB connection
MONGO_URI=

# Required for email login
# Get your Resend API Key here: https://resend.com/api-keys
RESEND_API_KEY=